/* For Javascript geometric properties testing - related to box model */

#cursorCoordinates {
    position: fixed;
    cursor: default;
    z-index: 1;
}

.box {
    position: relative;
    margin: 10px;
    border: 15px solid orange;
    padding: 20px;
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.content {
    background-color: green;
    position: absolute;
    width: calc(100% -30px);
    height:calc(100% -30px);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 15px;
}

.container {
    display:inline-block;
    position: relative;
    margin: 10px;
    border: 15px solid orange;
    padding: 20px;
    background-color: yellow;
    width: 400px;
    height: 400px;
}

#legend {
    white-space: pre-wrap;
    display: inline-block;
    position: fixed;
    top: 50px;
    right: 20px;
}