/* For Javascript geometric properties testing - related to box model */

#cursorCoordinates {
    position: fixed;
    cursor: default;
    z-index: 1;
}

.box {
    position: absolute;
    margin: 10px;
    border: 15px solid orange;
    padding: 20px;
    background-color: yellow;
}

#box1,#box2 {
    box-sizing: content-box;
}

#box3,#box4 {
    box-sizing: border-box;
}


.content {
    background-color: green;
    position: absolute;
    width: calc(100% -40px);
    height:calc(100% -40px);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 20px;
}

.container {
    display:inline-block;
    position: absolute;
    margin: 10px;
    border: 15px solid orange;
    padding: 20px;
    background-color: yellow;
    width: 400px;
    height: 400px;
    left: 0px;
    top: 0px;
}

#legend {
    white-space: pre-wrap;
    display: inline-block;
    position: fixed;
    top: 50px;
    right: 20px;
}