.attempt {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 25px;
}

#correctCode {
    position:relative; 
    left:20px;
    border: 1px solid black;
    padding: 5px;
}

.enter {
    height: 25px;
}

.row {
    margin: 15px;
    line-height: 1.5;
    display: flex;
    flex-wrap: nowrap;
    min-width: 0;
    flex-shrink: 1;
    align-items: center;
}